{% load static %}
<html>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Monopoly cashier</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'lobby' %}">
        <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Monopoly cashier
    </a>
    <div class="float-right mx-2">
        {% if user.is_authenticated %}
            <p class="top-menu">{{ user.username }} </p>
            <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a>
            <a href="{% url 'registration' %}" class="btn btn-secondary">Sign up</a>
        {% endif %}
    </div>
</nav>

<div class="container content">
    {% block content %}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>