{% extends 'base.html' %}
{% block content %}

    <a href="{% url 'quit' %}" class="btn btn-secondary">Quit</a>
    <a href="{% url 'circle' %}" class="btn btn-secondary">Circle</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Bank">
        Bank
    </button>

    <div class="row row-cols-2 row-cols-md-4 mt-3">

        {% for user in users %}

            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title username">{{ user.username }}</h5>
                        <p class="list-group-item">Money: {{ user.friendly_money }}</p>
                    </div>
                    {% if user != request_user %}
                        <div class="m-2">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                    data-target="#Transfer_to_{{ user }}">
                                Transfer money
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>


        {% endfor %}

    </div>

    <!-- Modal window Bank -->
    <div class="modal fade" id="Bank" tabindex="-1" role="dialog" aria-labelledby="Bank" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Bank">Bank</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="bank" action="{% url 'bank' %}" class="post-form">
                        {% csrf_token %}
                        {{ form.money }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="bank" name="button_type" value="get" class="btn btn-primary">Get money
                    </button>
                    <button type="submit" form="bank" name="button_type" value="pay" class="btn btn-primary">Pay money
                    </button>
                </div>
            </div>
        </div>
    </div>


    {#    Modal#}
    {% for user in users %}

        <!-- Modal Transfer money -->
        <div class="modal fade" id="Transfer_to_{{ user }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Send money to {{ user }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="transfer_to_{{ user }}" class="post-form"
                              action="{% url 'transfer_money' user_id=user.id %}">
                            {% csrf_token %}
                            {{ form.money }}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" form="transfer_to_{{ user }}" class="btn btn-primary">Transfer
                        </button>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}

{% endblock %}
