{% extends "base.html" %}

{% block content %}
    <a href="{% url 'quit' %}" class="btn btn-secondary">Quit</a>
    {% for user in users %}
        <div>
            name: {{ user }}
        </div>
        {% if user.ready %}
            {% if user == request_user %}
                <input type="button" class="btn btn-success" value="Ready"
                       onclick="location.href = '{% url 'ready' %}'">
            {% else %}
                <input type="button" class="btn btn-success" value="Ready" onclick="location.href = '{% url 'ready' %}'"
                       disabled>
            {% endif %}
        {% else %}
            {% if user == request_user %}
                <input type="button" class="btn btn-danger" value="Ready" onclick="location.href = '{% url 'ready' %}'">
            {% else %}
                <input type="button" class="btn btn-danger" value="Ready" onclick="location.href = '{% url 'ready' %}'"
                       disabled>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}