{% extends "base.html" %}

{% block content %}
    <a href="{% url 'quit' %}" class="btn btn-secondary">Quit</a>
    {% for user in users %}
        <div>
        name: {{ user }}
        </div>
{#        {% if user.ready == 'False' %}#}
{#            <button type="button" class="btn btn-success" action="{% url 'ready' %}">Ready</button>#}
{#        {% else %}#}
{#            <button type="button" class="btn btn-danger" action="{% url 'ready' %}">Ready</button>#}
{#        {% endif %}#}
    {% endfor %}
{% endblock %}